<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>


   <div class="slideshow">

      <%= render 'layouts/slideshow' %> 
    
    </div>


  <div class="container inscrit">

    <div class="row">

    <h1>NOUS METTONS À VOTRE DISPOSITION UNE ÉQUIPE D’EXPERTS AFIN DE VOUS ACCOMPAGNER TOUT AU LONG DE LA PRÉPARATION DE VOTRE PROJET D’ETUDE, LE CHOIX DE VOTRE ORIENTATION, ET L’ACCOMPAGNEMENT DANS VOS DIFFÉRENTES PROCÉDURES D’INSCRIPTION.</h1>
    

    </div>


    <h2>
      Pas encore inscrit? inscrivez-vous dès maintenant 
    
    </h2>

    

    <div id="signupnow">
    <%= link_to "inscrivez-vous maintenant !", signup_path, class: "btn btn-lg btn-primary" %>
    </div>



    <div class="row" id="offre">  

    <div class="col-md-4"> <%= image_tag("adult-african-min.jpg", :alt => "projectude-expertise", :class => "d-block w-100") %> </div>
    <div class="col-md-4"> <%= image_tag("top-view-photo-min.jpg", :alt => "projectude-expertise", :class => "d-block w-100") %> </div>
    <div class="col-md-4"> <%= image_tag("person-with-min.jpg", :alt => "projectude-expertise", :class => "d-block w-100") %> </div>

    </div>


    <div class="row" id="offre">  

    <div class="col-md-4"> <%= image_tag("two-woman-chatting-min.jpg", :alt => "projectude-expertise", :class => "d-block w-100") %> </div>
    <div class="col-md-4"> <%= image_tag("woman-inside-min.jpg", :alt => "projectude-expertise", :class => "d-block w-100") %> </div>
    <div class="col-md-4"> <%= image_tag("woman-wearing-min.jpg", :alt => "projectude-expertise", :class => "d-block w-100") %> </div>

    </div>


    <div class="row" id="etapes">  

        <div class="col-md-12 col-lg-4"> <%= image_tag("adult-african-min.jpg", :alt => "projectude-expertise", :class => "d-block w-100 h-100") %> </div>
    
        <div class="col-md-12 col-lg-4">  <p> Comment</p>   
                        <h2> Ça Marche ? </h2> </br></br>
                        <h2>01/ </h2>Ecouter</br></br>
                      Vous souhaitez partir étudier à l'étranger ? StudiesUP prend en compte vos contraintes budgétaires, le type d'études que vous souhaitez suivre, et les destinations qui vous attirent le plus. </br></br>

                      <h2>03/</h2>0rganiser et Préparer </br></br>

                      StudiesUP constitue avec vous gratuitement votre dossier de candidature, et vous accompagne pour toutes les démarches relatives à votre couverture sociale, vos assurances, votre visa, votre transport voire si vous le souhaitez, votre logement à l'étranger.
        </div>


   
        <div class="col-md-12 col-lg-4">  <h2>02/</h2>Orienter</br></br>

                    StudiesUP met à votre service sa connaissance fine des formations et des pays, pour vous permettre de choisir les universités, écoles de langues, entreprises (pour les stages) ou les familles (programmes au pair) qui correspondent le plus à vos attentes.</br></br>

                    
                    <h2>04/</h2>Partir</br></br>

                    C'est le jour du départ ! Vous allez suivre une formation qui vous permettra de vous projeter avec succès dans la vie professionnelle, et connaître une expérience de vie inoubliable faite de dépaysement et de nouvelles amitiés. StudiesUP reste à votre service durant toute la durée de votre séjour.
        </div>


    </div>


    <div class="jumbotron">
        <h1 class="display-4">Nos engagements pour le succès de votre projet</h1>
        <p class="lead">Agent officiel d'universités étrangères mondialement reconnues, StudiesUP vous conseille gratuitement, en s'efforçant de vous proposer le programme qui répond le plus à vos attentes et  contraintes budgétaires. Parce qu'un étudiant satisfait sera toujours le meilleur ambassadeur de nos services, nous mettons à votre disposition notre professionalisme, notre sérieux et notre expérience afin que vous puissiez réaliser votre projet dans les meilleures conditions.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        
        <div id="jumbo">

            <p class="lead">
            <a class="btn btn-primary btn-lg justify-content-center" href="#" role="button">En savoir plus...</a>
            </p>

            <p class="lead">
            <a class="btn btn-dark btn-lg justify-content-center" href="#" role="button">Nous contacter</a>
            </p>

        </div>
    </div>



  </div>



    
  
   
  </div>

<% end %>
