<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>


   <div class="slideshow">

      <%= render 'layouts/slideshow' %> 
    
    </div>


  <div class="container inscrit">

    <div class="row">

    <h1>NOUS METTONS À VOTRE DISPOSITION UNE ÉQUIPE D’EXPERTS AFIN DE VOUS ACCOMPAGNER TOUT AU LONG DE LA PRÉPARATION DE VOTRE PROJET D’ETUDE, LE CHOIX DE VOTRE ORIENTATION, ET L’ACCOMPAGNEMENT DANS VOS DIFFÉRENTES PROCÉDURES D’INSCRIPTION.</h1>

  </div>

    <h2>
      Pas encore inscrit? inscrivez-vous dès maintenant 
    
    </h2>

    

    <div id="signupnow">
    <%= link_to "inscrivez-vous maintenant !", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  
   
  </div>

<% end %>
