  

  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<div class="fixed-top">

<!-- Topbar-->
<div class="top-bar ">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul id="top-header-menu" class="top-nav clearfix">
        <li><a href="#">Contacter Nous</a></li>
        
        </ul>
      </div>

      <div class="col-md-6 header-social">
        <div id="social" class="social">
          <ul>

            <li><a class="social-profile" href="#" title="Follow us on facebook"><i class="social_icon fa fa-facebook"></i></a></li>
            <li><a class="social-profile" href="#" title="Follow us on instagram"><i class="social_icon fa fa-instagram"></i></a></li>
            <li><a class="social-profile" href="#" title="Follow us on twitter"><i class="social_icon fa fa-twitter"></i></a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>






<!-- Navbar -->

<nav class="navbar navbar-expand-md ">



    
    <a class="navbar-brand"> <%= link_to image_tag("Logo_projectude.jpg", alt: "Logo Projectude", width: "80px", height: "60px", id: "logoimg"), root_path %> </a>

    <span class="navabr-text">Projectude</span>


    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavDropdown">
    <span class="navbar-toggler-icon"></span>
    </button>

  

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav navbar-right">
        <li class="nav-item ">
          <i class="fas fa-home"></i> <%= link_to "Acceuil", root_path %> <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <i class="fas fa-address-card"></i><%= link_to "À propos de nous", about_path %> 
        </li>
        <li class="nav-item">
          <i class="fas fa-comment-medical"></i> <%= link_to "Offres de services", help_path %>
        </li>
        
        <li class="nav-item">
          <i class="fas fa-address-book"></i><%= link_to "Contacts", contact_path %>
        </li>

        <% if logged_in? %>

        <li class="nav-item"><i class="fas fa-users"></i><%= link_to "Utilisateurs", users_path %></li>
          
        <li class="nav-item dropdown">
          <a class="nav-item   dropdown-toggle" href="#" data-target="navbarDropdownMenuLink" data-toggle="dropdown">
            <i class="fas fa-user-circle"></i> Mon compte 
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="compte">

            <i class="fas fa-id-card"></i><%= link_to "Profile", current_user %>

            <div class="dropdown-divider"></div>
            
            <i class="fas fa-cogs"></i><%= link_to "Modifier mon compte", edit_user_path(current_user) %>
           
              <div class="dropdown-divider"></div>
              
            <i class="fas fa-sign-out-alt"></i><%= link_to "Déconnexion", logout_path, method: :delete %>
            
            </div>
          </li>
        <% else %>
          <li class="nav-item"><i class="fas fa-sign-in-alt"></i><%= link_to "Connectez-vous", login_path %></li>
        <% end %>


      </ul>

    </div>

 
  </nav>



</div>









  

  

<script>
  $(document).ready(function() {
    $(".dropdown-toggle").dropdown();
});
</script>


